
Stardew_Player_Arrows/.vs/ProjectEvaluation/stardew_player_arrows.metadata.v7.bin
Stardew_Player_Arrows/.vs/ProjectEvaluation/stardew_player_arrows.projects.v7.bin
Stardew_Player_Arrows/.vs/Stardew_Player_Arrows/FileContentIndex/0989a3cf-2149-4465-809a-79446714f143.vsidx
Stardew_Player_Arrows/.vs/Stardew_Player_Arrows/FileContentIndex/7c9af991-d33e-4423-9f54-ca3a0c2f3369.vsidx
Stardew_Player_Arrows/.vs/Stardew_Player_Arrows/FileContentIndex/read.lock
Stardew_Player_Arrows/.vs/Stardew_Player_Arrows/v17/.futdcache.v2
Stardew_Player_Arrows/.vs/Stardew_Player_Arrows/v17/.suo
Stardew_Player_Arrows/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Stardew_Player_Arrows/obj/Debug/net5.0/Stardew_Player_Arrows.AssemblyInfo.cs
Stardew_Player_Arrows/obj/Debug/net5.0/Stardew_Player_Arrows.AssemblyInfoInputs.cache
Stardew_Player_Arrows/obj/Debug/net5.0/Stardew_Player_Arrows.assets.cache
Stardew_Player_Arrows/obj/Debug/net5.0/Stardew_Player_Arrows.csproj.AssemblyReference.cache
Stardew_Player_Arrows/obj/Debug/net5.0/Stardew_Player_Arrows.GeneratedMSBuildEditorConfig.editorconfig
Stardew_Player_Arrows/obj/project.assets.json
Stardew_Player_Arrows/obj/project.nuget.cache
Stardew_Player_Arrows/obj/Stardew_Player_Arrows.csproj.nuget.dgspec.json
Stardew_Player_Arrows/obj/Stardew_Player_Arrows.csproj.nuget.g.props
Stardew_Player_Arrows/obj/Stardew_Player_Arrows.csproj.nuget.g.targets
